/* Contact Page Title */
.contact-faq-title h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px
}


/* Contact Section */
.contact-section h1 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 0;
}

.contact-section img {
    max-width: 90%;
    margin: auto;
    width: 100%;
    border-radius: 20px;
}

.contact-section p {
    font-size: 22px;
    margin-top: 15px;
}

.contact-section .contact-info a {
    color: #1e90ff;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-top: -100px;
    margin-bottom: 50px;
}

.contact-section a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contact-section hr {
    border: 0px solid #6a2a60;
    width: 100%;
    margin: 0px;
}

/* FAQ Section */
.faq-section {
    color: white;
    text-align: center;
    max-width: 90%;
    margin: auto;
    padding: 15px;
    background-color: #2a2d36;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.faq-section h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.faq-item {
    text-align: left;
    padding: 15px;
    margin: 20px 50px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(189, 136, 136, 0.575);
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #3e4250;
  }

.faq-question {
    all: unset;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    margin-top: -5px;
    color: #29bfed;
    font-weight: 600;
    border: none;
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-question .icon {
    font-size: 2rem;
}

.faq-question.active .icon {
    content: "-";
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, padding 0.6s ease;
    margin-left: 0;
    font-size: 22px;
    font-weight: 500;
    color: #ff7c1e;
    /* padding: 0 15px; */
}

.faq-answer.open {
    max-height: 1000px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.faq-answer ol, 
.faq-answer ul {
    margin: 15px 0;
    padding-left: 30px;
}

.faq-answer li {
    margin-bottom: 10px;
}

.faq-answer h4 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
    color: #C7C9C8;
}

.faq-answer a {
    color: #1e90ff;
    font-weight: 500;
    text-decoration: none;
}

.faq-answer a:hover {
    text-decoration: underline;
}

.faq-answer span {
    color: #D32737;
    font-size: 26px;
    font-weight: bold;
}

.faq-item p {
    font-size: 20px;
    line-height: 1.6;
    color: #C7C9C8;
}

.faq-item a {
    color: #1e90ff;
}

.faq-item a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.faq-item strong {
    color: #ff7c1e;
    font-size: 25px;
}

.faq-section hr {
    border: 0px solid #6a2a60;
    width: 100%;
    margin: 20px;
}

/* Anonymous Question Box */
.question-section {
    margin: auto;
    margin-top: 30px;
    padding: 0;
    text-align: center;
}

#question-input {
    width: 60%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Contact Us Form Box */
.contact-form {
    margin: auto;
    margin-top: 30px;
    padding: 0;
    text-align: center;
}

.google-form-container {
    max-width: 90%;  
    margin: 0 auto;
    padding: 10px;
    background: #2a2d36; 
    border-radius: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.google-form-container iframe {
    border-radius: 8px; 
    background: #2a2d36; 
}