/*colorsss*/
.coreOrange {color: #FA4616}
.coreBlue {color: #0021A5}
.bottlebrushRed {color: #D32737}
.alachuaYellow {color: #F2A900}
.gatorGreen {color: #22884c}
.coreDarkBlue {color: #002657}
.perennialPurple {color: #6A2A60}
.coolGrey11 {color: #343741}
.coolGrey3 {color: #C7C9C8}
.warmGrey1 {color: #D8D4D7}

.mainContainerRequest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically centers the content */
    min-height: 100vh; /* Ensures the container takes the full height of the viewport */
    text-align: center; /* Optional: centers text inside the container */
}

.requestTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.requestTitle h1 {
    font-size: 48px;
}

.requestTargetInfo {
    margin-bottom: 20px;
}

.targetForm1, .targetForm2 {
    background-color: #343741;
    border-radius: 20px;
    /*border: 3px solid #D32737;*/
    width: 40%;
    margin-bottom: 25px;
    padding: 10px;
    display: flex; /* Added to allow centering of content if needed */
    justify-content: center; /* Centers the form content horizontally */
    align-items: center; /* Centers the form content vertically */
}

.targetFormTitle {
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
}

.targetButton {
    background-color: #0021A5;
    border: 2px solid #D32737;
    border-radius: 20px;
    font-family: "Exo 2";
    color: white;
    transition: 0.15s;
}

.targetButton:hover {
    background-color: #002657;
}
