/* Telescope Page Title */
.telescope-title h1 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 50px;
}

.tele-image {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tele-image img {
    border-radius: 20px;
}

.tele-info-section {
    background-color: #3a3f47;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

.tele-info-section h2 {
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #4e89ae;
    display: inline-block;
    padding-bottom: 5px;
}

.tele-info-section .info {
    margin-bottom: -30px;
}

.tele-info-section .info p {
    font-size: 1.1rem;
    text-align: left;
    padding-bottom: 30px;
}

.tele-info-section .info a {
    color: #1e90ff;
    text-decoration: none;
    display: inline-block;
}

.tele-info-section .info a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.location-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

/* Location Info */
.location-info {
    background-color: #3a3f47;
    padding: 20px;
    flex: 1 1 50%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 15px;
}

.location-info h2 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    border-bottom: 2px solid #4e89ae;
    display: inline-block;
    padding-bottom: 3px;
}

/* Observatory Location Information */
.location-table td:first-child {
    font-weight: bold;
    width: 63%;
    text-align: left;
    line-height: 3.5;
    font-size: 18px;
}

.location-table td:last-child {
    white-space: normal;
    line-height: 1.5;
    word-spacing: 2px;
    text-align: right;
}

.location-info .lattitude-longitude p {
    font-size: 1.1rem;
    margin: 10px 0;
    line-height: 1.5;
}

/* Google Maps Section */
.google-maps-section {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.googleFormContainer iframe {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}